/* ----------------------------------CTA----------------------------------------- */
.cta{
    padding: 80px 10%;
    background-color: #007bff;
    text-align: center;
    color: #fff;
    /* margin-bottom: 100px; */

}
/* CONTENT */
.cta-content{
    max-width: 700px;
    margin: auto;
}
.cta-content h2{
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -2px;

}
.cta-content p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* BUTTON */
.cta-content .cta-button{
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: bold;
    transition: 0.3s; 
}
/* HOVER */
.cta-content .cta-button:hover{
    background-color: #222;
    color: #fff;
}


/* CTA */
@media(max-width: 768px){
    .cta{
        padding: 60px 8%;
    }
    .cta-content h2{
        font-size: 32px;
    }
    .cta-content p{
        font-size: 18px;
    }
}
@media(max-width: 480px){
    .cta{
        padding: 50px 6%;
    }
    .cta-content h2{
        font-size: 27px;
        line-height: 1.3;
    }
    .cta-content p{
        font-size: 16px;
        line-height: 1.5;
    }
    .cta-content .cta-button{
        padding: 12px 22px;
        font-size: 14px;
    }
}
